{% extends 'layout.html' %}
{% block body %}
<main>
    <section class="d-flex align-items-center my-5 mt-lg-6 mb-lg-5">
        <div class="container">
            <div class="row justify-content-center form-bg-image"
                data-background-lg="../../assets/img/illustrations/signin.svg">
                {% if details == "0" %}
                <div class="alert alert-danger text-center" role="alert">
                    Invalid Email/Password or some error was occurred!
                </div>
                {% endif %}
                <div class="col-12 d-flex align-items-center justify-content-center">
                    
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}